<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <header th:fragment="header(text)" class="jumbotron">
        <h1 class="text-center" th:text="${text}"></h1>
    </header>

    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/posts">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/posts/create">Create</a>
                </li>
                <li>
                    <a class="navbar-brand" href="/posts">BlogJC</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" href="/sign-up" sec:authorize="!isAuthenticated()">Sign-up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">Login</a>
                </li>
                <li class="nav-item active"  sec:authorize="isAuthenticated()" >
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link" style="margin-top: 8px">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>